@{
    ViewData["Title"] = "Страница не найдена";
}

<div class="text-center" style="margin-top: 100px;">
    <h1 class="display-4 text-warning">404 - Страница не найдена</h1>
    <p>К сожалению, такой страницы не существует.</p>
    <a href="~/" class="btn btn-primary">Вернуться на главную</a>
</div>
