@model webshop.Models.LoginViewModel

@{
    ViewData["Title"] = "Вход";
}

<h2>Вход</h2>

<div class="login__block d-flex justify-content-center align-items-center flex-wrap">
    <form asp-action="Login" method="post" class="w-50 order-1">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <input asp-for="Email" class="form-control input" placeholder="Электронная почта" autocomplete="on" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <input asp-for="Password" type="password" class="form-control input" placeholder="Пароль" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group mt-3 d-flex justify-content-between">
            <label>
                <input asp-for="RememberMe" /> Запомнить меня
            </label>
            <div class="text-end order-2">
                <a asp-action="Register">Нет аккаунта? Зарегистрируйтесь</a><br />
                <a asp-action="ForgotPassword">Забыли пароль?</a>
            </div>
        </div>

        <div class="form-group mt-4 d-flex justify-content-center">
            <input type="submit" value="Войти" class="btn btn-primary" />
        </div>
    </form>
</div>
